<section class="container-fluid content">
  <section class="row justify-content-md-center categories">
    <h1 id="prompt">What kind of business are you looking for in <span id="titcity">{{titleize city}}?</span>  </h1>
    {{#each categories as |category|}}
      <div class="col pt-4 text-center">
        <a id="catlink" href="/location/{{lower @root.city}}/category/{{category_key}}">
          <header id="catname">{{category_name}}</header>
          <img src="/images/{{lookup ../images @key}}">
        </a>
      </div>
    {{/each}}
  </section>
</section>