<section class="container">
  <h1>Recommendations for category: {{category.id}}</h1>
  <section class="row justify-content-md-center">
{{#each location.categories.[0].recommendations }}
<section class="card">
  <header>{{title}}</header>
  <div class="card-body">
  <p>{{comment}}</p>
  <p>Recommended by: {{user.username}}</p>
{{#if coordinates}}
<div id="map"></div>
<script>
  let map = L.map('map').setView([{{lat}}, {{long}}], 13);
  let marker = L.marker([{{coordinates}}]).addTo(map);
</script>
{{/if}}    
  </div>
</section>
{{/each}}
</section>
</section>